:root {
    --rouge: #ff0000;
    --fondSelection: #ededed;
    --fondFooter: #d9d9d9;
}

/* Pour éviter le scrooll horizontal */
html,
body {
    overflow-x: hidden;
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

/* poppins-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

h2 span {
    color: var(--rouge);
}

ul {
    list-style-type: none;
}

#hautPage,
.container {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

body {
    font-family: 'poppins';
}

/* -----Header----- */

#hautPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#hautPage .logo {
    width: 100%;
}

#hautPage .logo a {
    display: flex;
    justify-content: center;
}

#hautPage .logo img {
    width: 145px;
    height: 100px;
    padding-left: 0;
}

#hautPage #menuPrincipal {
    width: 100%;
    display: flex;
    justify-content: center;
}

#hautPage #burger i {
    font-size: 2.2rem;
    margin-top: 15px;
}

#menuPrincipal ul {
    display: flex;
    text-transform: uppercase;
    display: none;
    background-color: black;
    opacity: 0.85;
    border-radius: 15px;
    width: 202px;
    height: 240px;
    margin: 10px auto;
    list-style-type: none;
    position: absolute;
    z-index: 1000;
}

#menuPrincipal ul.on {
    flex-direction: column;
    justify-content: center;
}

#menuPrincipal ul li {
    line-height: 58px;
    text-align: center;
}

#menuPrincipal ul li a {
    color: white;
}

#hautPage #menuPrincipal ul li a:hover,
#hautPage #menuPrincipal ul li a.pageActive {
    color: var(--rouge);
}

hr {
    max-width: 1800px;
    margin: 0 auto;
    border-color: var(--rouge);
}

/* -----Slider----- */

.slider-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    border-radius: 20px;
}

.navigationSlider {
    display: none;
    margin-top: 10px;
    text-align: center;
}

.nav-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    color: white;
}

.nav-button:hover,
.nav-button.active {
    background-color: var(--rouge);
}

/* -----Histoire----- */

#histoire {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

#histoire span {
    font-weight: bold;
}

#histoire ul {
    margin-left: 8%;
    list-style-type: circle;
}

#histoire img {
    margin-top: 20px;
    width: 100%;
    border-radius: 15px;
}

/* -----En ce Moment----- */

#enCeMoment {
    margin-bottom: 20px;
    display: none;
}

#enCeMoment h2 {
    text-align: center;
}

#enCeMoment img {
    border-radius: 15px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----Notre sélection----- */

#notreSelection h2 {
    text-align: center;
}

#notreSelection .gridSelection {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(138px, 1fr));
    gap: 20px;
}

#notreSelection .gridSelection article {
    background-color: var(--fondSelection);
    border-radius: 15px;
    padding-bottom: 10px;
}

#notreSelection .gridSelection article:hover {
    cursor: pointer;
    border: 1px solid black;
}

#notreSelection .gridSelection img {
    width: 100%;
    margin-top: 10px;
}

#notreSelection .gridSelection h4 {
    text-align: center;
    color: var(--rouge);
}

/* -----Footer----- */

#basPage {
    background-color: var(--fondFooter);
    width: 100%;
    margin-top: 20px;
    padding-bottom: 0;
}

#basPage .logoBas {
    display: none;
    width: 100px;
    background-color: var(--fondFooter);
}

#blocFooter {
    display: flex;
    justify-content: space-between;
}

#blocFooter .adresse {
    display: none;
}

#blocFooter .reseaux {
    display: flex;
    flex-direction: column;
}

#blocFooter .reseaux a {
    margin-top: 20px;
}

#blocFooter .reseaux a img {
    width: 40px;
    height: 40px;
}

#blocFooter .lienDirect {
    text-align: right;
}

#blocFooter .lienDirect ul li {
    padding-top: 5px;
}

#blocFooter .lienDirect ul li a:hover,
#blocFooter .lienDirect ul li a.pageActive {
    color: var(--rouge);
}

#copyright {
    background-color: white;
    text-align: center;
    padding: 10px 0;
}

@media screen and (min-width:768px) {

    /* -----Header----- */

    #hautPage {
        flex-wrap: nowrap;
    }

    #hautPage .logo {
        width: 20%;
    }

    #hautPage .logo img {
        width: 100%;
        height: 100%;
        padding-left: 0;
    }

    #hautPage .logo a {
        display: flex;
        justify-content: flex-start;
    }


    #hautPage #menuPrincipal {
        width: 80%;
    }

    #hautPage #burger i {
        display: none;
    }

    #hautPage #menuPrincipal ul {
        display: flex;
        background: none;
        position: relative;
        height: auto;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    #hautPage #menuPrincipal ul li {
        margin-left: 40px;
    }

    #hautPage #menuPrincipal ul li a {
        color: black;
        font-size: 1.2rem;
    }

    /* -----Slider---- */

    .navigationSlider {
        display: block;
    }

    /* -----Notre sélection----- */

    #notreSelection .gridSelection {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }

    #notreSelection .gridSelection h4 {
        font-size: 1.3rem;
    }

    /* -----Footer----- */

    #basPage .logoBas,
    #basPage .adresse {
        display: block;
    }
}

@media screen and (min-width: 1020px) {

    h2,
    h2 span {
        margin-bottom: 20px;
        font-size: 3rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    p,
    li,
    span {
        font-size: 1.4rem;
    }

    #hautPage #menuPrincipal ul li a {
        font-size: 1.7rem;
    }

    /* -----Histoire----- */

    #histoire {
        flex-wrap: nowrap;
        align-items: center;
    }

    #histoire div {
        width: 50%;
        padding-right: 15px;
    }

    #histoire .containerImage {
        width: 50%;
    }

    /* -----En ce moment----- */

    #enCeMoment {
        display: block;
    }

    /* -----Notre sélection----- */

    #notreSelection .gridSelection {
        gap: 50px;
    }

    #notreSelection .gridSelection h4 {
        font-size: 2rem;
    }
}

/* -----Footer----- */

#basPage .logoBas {
    width: 150px;
}

#blocFooter .reseaux a img {
    width: 50px;
    height: 50px;
}

/* ===============Page apropos.html=============== */

#aPropos {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 20px;
}

#aPropos img {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 15px;
}

@media screen and (min-width:1020px) {
    #aPropos {
        flex-wrap: nowrap;
        align-items: center;
    }

    #aPropos p {
        width: 50%;
        padding-right: 20px;
    }

    #aPropos .containerImageApropos {
        width: 50%;
    }
}

/* ===============Page notreselection.html=============== */
#articleSelection {
    margin-top: 20px;
}

#articleSelection .selection {
    display: none;
}

#articleSelection .selection .box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.selection .box img {
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 300px;
    margin: 0 auto;
}

.selection .box div {
    margin: 15px 0;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}

@media screen and (min-width:768px) {

    #articleSelection .selection .box {
        flex-wrap: nowrap;
        align-items: center
    }

    .selection .box div {
        border-left: none;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        width: 100%;
    }

    #articleSelection .selection .box h4 {
        font-size: 1.6rem;
    }
}

/* ===============Page contact.html=============== */

h2 {
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
}

#contact p {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 10px 0;
}

#contact label {
    margin-right: 20px;
    margin-left: 5px;
}

#contact input,
#contact textarea {
    border: none;
    width: 100%;
    font-family: 'poppins';
    color: black;
}

#contact input::placeholder,
#contact textarea::placeholder {
    color: black;
    opacity: 1;
}

#contact textarea {
    height: 150px;
}

#contact p:nth-of-type(1),
#contact p:nth-of-type(7),
#contact p:nth-of-type(8) {
    border: none;
    padding: 0;
}

#contact p:nth-of-type(1) input,
#contact p:nth-of-type(7) input,
#contact p:nth-of-type(8) input {
    width: auto;
}

#contact p:nth-of-type(8) input {
    border: 1px solid black;
    padding: 15px 30px;
    border-radius: 15px;
}

#envoyer {
    background: rgb(198, 200, 198);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
}

#contact p:nth-of-type(7) a:hover {
    color: var(--rouge);
}

/* ---Map--- */

.map {
    border: 1px solid black;
    border-radius: 15px;
}

.map iframe {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

@media screen and (min-width:768px) {

    #contact {
        flex-direction: row;
        justify-content: space-between;
    }

    #contact .formulaire,
    #contact .map {
        width: 48%;
    }

    .map iframe {
        height: 100%;
    }
}

@media screen and (min-width:1020px) {

    #contact input,
    #contact textarea {
        font-size: 1.2rem;
    }
}

/* ===============Page mentionslegales.html=============== */

#mentions article {
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

#mentions article:nth-of-type(5) {
    margin-bottom: 0;
}

#mentions article h3 {
    margin-bottom: 20px;
}

@media screen and (min-width:768px) {
    #mentions {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

    #mentions article {
        margin-bottom: 0;
    }

    #mentions article:nth-of-type(3),
    #mentions article:nth-of-type(4),
    #mentions article:nth-of-type(5) {
        grid-column: 1 / 3;
    }
}

/* ===============Page politiqueconfidentialite.html=============== */

#politique {
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
}